<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/login.css">
    <title>Register | IDA</title>
</head>
<body>
   <div class="login">
        <div class="image">
            <img src="../static/images/Images/anime-girl.png" alt="">
        </div>
        <div class="form">
            <h1>Register to IDA</h1>
            <hr>
            <h3>{{message}}</h3>
            <form method="post">
                <div class="txt_field">
                  <input type="email" required name="email">
                  <span></span>
                  
                  <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="text" required name="username">
                    <span></span>
                    <label>Username</label>
                  </div>
                <div class="txt_field">
                  <input type="password" required name="password">
                  <span></span>
                  <label>Password</label>
                </div>
                <div class="txt_field">
                    <input type="password" required name="confirm_password">
                    <span></span>
                    <label>Confirm Password</label>
                  </div>
                <input type="submit" value="Register">
                <div class="signup_link">
                  Already a member? <a href="{{url_for('login')}}">Login</a>
                </div>
              </form>
        </div>
   </div> 
</body>
</html>